footer {
    padding: 16px 0;
    background: #fff;
}

.footer__up {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #d2d5d8;
    padding-bottom: 16px;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.footer__logo-text {
    color: var(--Text-Default, #202223);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    & span {
        color: var(--Text-Success, #008060);
    }
}

.footer__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.footer__list-item {
    & a {
        color: var(--Text-Default, #202223);
        font-feature-settings: "clig" off, "liga" off;
        font-family: "SF Pro Text";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        &:hover {
            border-bottom: 1px solid #202223;
        }
    }
}

.footer__up-adress {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__bottom-wrap {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #d2d5d8;
}

.footer__bottom-adress {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.footer__bottom-number-wrap {
    display: flex;
    align-items: center;
    gap: 8px;

    & a {
        color: var(--Text-Default, #202223);
        font-feature-settings: "clig" off, "liga" off;
        font-family: "SF Pro Text";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }
}

.footer__bottom-schedule {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    & p {
        color: var(--Text-Default, #202223);
        font-feature-settings: "clig" off, "liga" off;
        font-family: "SF Pro Text";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

.footer__bottom-button {
    background: none;
    color: var(--Interactive-Default, #2c6ecb);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    align-self: flex-start;
}

.footer__design {
    padding-top: 16px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}

.footer__design-about {
    color: var(--Text-Disabled, #8c9196);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    & span {
        color: var(--Interactive-Default, #2C6ECB);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "SF Pro Text";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }
}

.footer__rights {
    color: var(--Text-Disabled, #8c9196);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

@media (min-width: 992px) {
    .footer__up{
        flex-direction: initial;
        justify-content: space-between;
    }

    .footer__bottom-wrap{
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-between;
        border: none;
    }

    .footer__design {
        flex-direction: initial;
        justify-content: space-between;
        padding: 0;
    }
}
